@page

@{
    Layout = null;
    ViewData["Title"] = "یافت می‌نشود ...";
}

<!DOCTYPE html>
<html lang="fa-IR" dir="rtl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
        @ViewData["Title"]
    </title>

    <link href="/css/p5.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="search" type="application/opensearchdescription+xml" title="گنجور" href="https://ganjoor.net/search.xml" />

</head>

<body>
    <div id="hdr">
        <h1><a href="/" title="گنجور"><img src="/image/gm.gif" alt="گنجور" style="width:auto;margin:auto;" /></a></h1>
    </div>

    <h1 class="text-danger">یافت می‌نشود ....</h1>


    <p class="text-danger">
        صفحه یا شعر مورد نظر شما در این مجموعه وجود ندارد.
    </p>

</body>
</html>

