@page

@{
    Layout = null;
    ViewData["Title"] = "در حال به‌روز رسانی ...";
}

<!DOCTYPE html>
<html lang="fa-IR" dir="rtl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="refresh" content="5">
    <title>
        @ViewData["Title"]
    </title>

    <link href="/css/p8.css?version=78" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="/favicon.ico?version=1" type="image/x-icon" />
    <link rel="search" type="application/opensearchdescription+xml" title="گنجور" href="https://ganjoor.net/search.xml" />

</head>

<body>
    <div id="hdr">
        <h1><a href="/" title="گنجور"><img src="/image/gdap.png" alt="گنجور" style="width:auto;margin:auto;" /></a></h1>
    </div>

    <h1 class="text-danger">گنجور در حال به روزرسانی است</h1>

    <img src="~/image//maintenancemode.jpg" alt="در حال به‌روزرسانی" />

    <p class="text-danger">
        گنجور در حال به‌روزرسانی است. لطفاً لحظاتی دیگر مجدداً تلاش کنید.
    </p>

    <div class="century"><a href="https://dg.ganjoor.net">دریافت گنجور رومیزی</a></div>
    <div class="century"><a href="http://pozh.org/saaghar/">دریافت ساغر</a></div>
    <div class="century"><a href="https://blog.ganjoor.net/category/android/">نرم‌افزارهای اندرویدی سازگار با گنجور</a></div>
    <div class="century"><a href="https://blog.ganjoor.net/category/ios/">نرم‌افزارهای سازگار با گنجور برای آیفون و آی‌پد</a></div>
    <div class="century"><a href="https://github.com/ganjoor/">نرم‌افزارهای بازمتن گنجور</a></div>

</body>
</html>

