@page

@{
    Layout = null;
    ViewData["Title"] = "در حال به‌روز رسانی ...";
}

<!DOCTYPE html>
<html lang="fa-IR" dir="rtl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="refresh" content="5">
    <title>
        @ViewData["Title"]
    </title>

    <link href="/css/p8.css?version=17" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="search" type="application/opensearchdescription+xml" title="گنجور" href="https://ganjoor.net/search.xml" />

</head>

<body>
    <div id="hdr">
        <h1><a href="/" title="گنجور"><img src="/image/gmg.gif" alt="گنجور" style="width:auto;margin:auto;" /></a></h1>
    </div>

    <h1 class="text-danger">گنجور در حال به روزرسانی است</h1>


    <p class="text-danger">
        گنجور در حال به‌روزرسانی است. لطفاً لحظاتی دیگر مجدداً تلاش کنید.
    </p>

</body>
</html>

