<!DOCTYPE html>
<html lang="fa-IR" dir="rtl">
<head>
    <meta charset="utf-8" />
    <meta name="robots" content="noindex, nofollow" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
        @Html.Raw(ViewData["Title"])
    </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="/dist/skin/blue.monday/css/jplayer.blue.monday.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/p8.css?version=49" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="/favicon.ico?version=1" type="image/x-icon" />
    <link rel="search" type="application/opensearchdescription+xml" title="گنجور" href="https://ganjoor.net/search.xml" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/diff.js"></script>
    <script src="/lib/tinymce/tinymce.min.js"></script>
    <script>
        tinymce.init({
            selector: 'textarea.editor',
            language: 'fa_IR',
            menubar: false,
            plugins: 'link paste image',
            toolbar: 'undo redo | alignleft aligncenter alignright alignjustify | link',
            paste_auto_cleanup_on_paste: true,
            paste_remove_styles: true,
            paste_remove_styles_if_webkit: true,
            paste_strip_class_attributes: true,
            smart_paste: false,
            a11y_advanced_options: true
        });
    </script>

    <script src="/js/bk.js?version=35"></script>
    <script>
        function editBanner(bannerId) {
            var url = '?handler=Edit';
            var altInput = '#alt-' + bannerId.toString();
            var urlInput = '#url-' + bannerId.toString();
            var activeInput = '#active-' + bannerId.toString();

            $.ajax({
                type: "PUT",
                url: url,
                data: {
                    id: bannerId,
                    alt: $(altInput).val(),
                    url: $(urlInput).val(),
                    active: $(activeInput).is(":checked")
                },
                success: function() {
                    alert('آگاهی به درستی ویرایش شد.')
                },

            });
        }

        function deleteBanner(bannerId) {

            if (!confirm('آیا از حذف این آگاهی اطمینان دارید؟'))
                return;


            $.ajax({
                type: "DELETE",
                url: '',
                data: {
                    id: bannerId
                },
                success: function() {
                    var bannerIdBlockId = '#tr-' + bannerId;
                    $(bannerIdBlockId).remove();
                },
            });
        }

        function rebuildDonationsPage() {
            if (!confirm('آیا از بازسازی صفحهٔ کمک‌ها اطمینان دارید؟'))
                return;

            var url = '?handler=RebuildPage';

            $.ajax({
                type: "POST",
                url: url,
                error: function() {
                    alert('خطا رخ داد.')
                },
                success: function() {
                    alert('صفحه به درستی بازسازی شد.')
                },

            });
        }


        function deleteItem(itemId, itemName) {

            if (!confirm('آیا از حذف این ' + itemName + ' اطمینان دارید؟'))
                return;


            $.ajax({
                type: "DELETE",
                url: '',
                data: {
                    id: itemId
                },
                error: function() {
                    alert('خطا رخ داد.');
                },
                success: function() {
                    location.reload();
                    return false;
                },
            });
        }

        

        function rebuildSitemap() {
            if (!confirm('آیا از بازسازی نقشهٔ سایت اطمینان دارید؟'))
                return;

            var url = '?handler=RebuildSitemap';

            $.ajax({
                type: "POST",
                url: url,
                error: function() {
                    alert('خطا رخ داد.')
                },
                success: function() {
                    alert('فرایند بازسازی نقشهٔ سایت شروع شد.')
                },

            });
        }


        function rebuildStats() {
            if (!confirm('آیا از بازسازی صفحات آمار اطمینان دارید؟'))
                return;

            var url = '?handler=RebuildStats';

            $.ajax({
                type: "POST",
                url: url,
                error: function() {
                    alert('خطا رخ داد.')
                },
                success: function() {
                    alert('فرایند بازسازی صفحات آمار شروع شد.')
                },

            });
        }





        function exportAll() {
            if (!confirm('آیا از تولید مجدد همهٔ فایلهای گنجور رومیزی اطمینان دارید؟'))
                return;

            var url = '?handler=ExportAll';

            $.ajax({
                type: "POST",
                url: url,
                error: function() {
                    alert('خطا رخ داد.')
                },
                success: function() {
                    alert('فرایند تولید مجدد همهٔ فایلهای گنجور رومیزی شروع شد.')
                },

            });
        }




        function cleanCache(id) {
            if (!confirm('آیا از حذف کش این صفحه اطمینان دارید؟'))
                return;

            var url = '?handler=CleanCache';

            $.ajax({
                type: "POST",
                url: url,
                data: {
                    id: id
                },
                error: function() {
                    alert('خطا رخ داد.')
                },
                success: function() {
                    alert('کش صفحه پاک شد.')
                },

            });
        }



        function compareCorrectionBlocks(originalElemenyId, editedElementId, resultElementId) {
            var a = document.getElementById(originalElemenyId);
            var b = document.getElementById(editedElementId);
            var result = document.getElementById(resultElementId);
            var diff = JsDiff.diffChars(a.textContent, b.textContent);
            var fragment = document.createDocumentFragment();
            for (var i = 0; i < diff.length; i++) {

                if (diff[i].added && diff[i + 1] && diff[i + 1].removed) {
                    var swap = diff[i];
                    diff[i] = diff[i + 1];
                    diff[i + 1] = swap;
                }

                var node;
                if (diff[i].removed) {
                    node = document.createElement('del');
                    node.style.color = 'red';
                    node.appendChild(document.createTextNode(diff[i].value));
                } else if (diff[i].added) {
                    node = document.createElement('span');
                    node.style.color = 'white';
                    node.style.backgroundColor = 'green';
                    node.appendChild(document.createTextNode(diff[i].value));
                } else {
                    node = document.createTextNode(diff[i].value);
                }
                fragment.appendChild(node);
            }

            result.textContent = '';
            result.appendChild(fragment);
        }


    </script>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index" title="گنجور"><img src="/image/gdapk.png" alt="گنجور" style="width:auto;margin:auto;" /></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Admin" asp-page="ReviewEdits">ویرایش‌ها</a>
                        </li>
                    </ul>
                </div>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Admin" asp-page="ReviewPartEdits">ویرایش‌های قطعات</a>
                        </li>
                    </ul>
                </div>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Admin" asp-page="Probables">اوزان محتمل</a>
                        </li>
                    </ul>
                </div>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Admin" asp-page="Poets">سخنوران</a>
                        </li>

                    </ul>
                </div>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Admin" asp-page="Banners">آگاهی‌ها</a>
                        </li>

                    </ul>
                </div>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Admin" asp-page="Donations">کمک‌های مالی</a>
                        </li>

                    </ul>
                </div>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Admin" asp-page="Expenses">هزینه‌ها</a>
                        </li>

                    </ul>
                </div>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Admin" asp-page="LongRunningJobs">کارها</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>



    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
