<!DOCTYPE html>
<html lang="fa-IR" dir="rtl">
<head>
    <meta charset="utf-8" />
    <meta name="robots" content="noindex, nofollow" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
        @Html.Raw(ViewData["Title"])
    </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="/css/p8.css?version=49" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="/favicon.ico?version=1" type="image/x-icon" />
    <link rel="search" type="application/opensearchdescription+xml" title="گنجور" href="https://ganjoor.net/search.xml" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/tinymce/tinymce.min.js"></script>
    <script>
        tinymce.init({
            selector: 'textarea.editor',
            language: 'fa_IR',
            menubar: false,
            plugins: 'link paste image',
            toolbar: 'undo redo | alignleft aligncenter alignright alignjustify | link',
            paste_auto_cleanup_on_paste: true,
            paste_remove_styles: true,
            paste_remove_styles_if_webkit: true,
            paste_strip_class_attributes: true,
            a11y_advanced_options: true
        });
    </script>
    <script src="/lib/diff.js"></script>
    <script src="/js/bk.js?version=38"></script>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index" title="گنجور"><img src="/image/gdapk.png" alt="گنجور" style="width:auto;margin:auto;" /></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="User" asp-page="/Index">خانه</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="User" asp-page="/MyComments">حاشیه‌های من</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="User" asp-page="/MyBookmarks">نشان‌شده‌های من</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="User" asp-page="/Notifications">اعلان‌‌های من</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="User" asp-page="/UpVotedRecitations">خوانش‌های نشان شده</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="User" asp-page="/History">ادامهٔ مطالعه</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="User" asp-page="/MySuggestedSongs">آهنگ‌های پیشنهادی من</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="User" asp-page="/Edits">ویرایش‌‌های من</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="User" asp-page="/SectionEdits">ویرایش‌‌های قطعات من</a>
                        </li>

                        @if (ViewData.ContainsKey("ganjoor-songrevu"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="User" asp-page="/ReviewSongs">آهنگ‌ها</a>
                            </li>
                        }

                        @if (ViewData.ContainsKey("ganjoor-moderate"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="User" asp-page="/ReportedComments">حاشیه‌های گزارش شده</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="User" asp-page="/AwaitingComments">حاشیه‌های در انتظار تأیید</a>
                            </li>
                        }

                        @if (ViewData.ContainsKey($"{RMuseum.Models.Auth.Memory.RMuseumSecurableItem.ArtifactEntityShortName}-{RMuseum.Models.Auth.Memory.RMuseumSecurableItem.ReviewGanjoorLinksOperationShortName}"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="User" asp-page="/FinalizeImages">نهایی‌سازی تصاویر</a>
                            </li>
                        }


                        @if (ViewData.ContainsKey($"{RMuseum.Models.Auth.Memory.RMuseumSecurableItem.GanjoorEntityShortName}-{RMuseum.Models.Auth.Memory.RMuseumSecurableItem.ModeratePoetPhotos}"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="User" asp-page="/SuggestedPoetSpecLines">نکات پیشنهادی</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="User" asp-page="/SuggestedPoetPhotos">تصاویر پیشنهادی</a>
                            </li>
                        }

                        @if (ViewData.ContainsKey($"{RMuseum.Models.Auth.Memory.RMuseumSecurableItem.FAQEntityShortName}-{RMuseum.Models.Auth.Memory.RMuseumSecurableItem.ModerateOperationShortName}"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="User" asp-page="/FAQItems">FAQ</a>
                            </li>
                        }

                        @if (ViewData.ContainsKey($"{RMuseum.Models.Auth.Memory.RMuseumSecurableItem.GanjoorEntityShortName}-{RMuseum.Models.Auth.Memory.RMuseumSecurableItem.ModifyOperationShortName}"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="Admin" asp-page="/ReviewEdits">مدیریت</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>



    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
