@page
@model GanjooRazor.Areas.User.Pages.AddSongModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
    ViewData["Title"] = "آهنگ مرتبط از منابع دلخواه";
    await GanjooRazor.Utils.GanjoorSessionChecker.ApplyPermissionsToViewData(Request, Response, ViewData);
}

<h1>@ViewData["Title"]</h1>

@if (Model.LastError != "")
{
    <h2>@Model.LastError</h2>
}


<form method="post">
    <table style="width:100%" class="noborder">
        <tr>
            <td>
                <span class="inputlabel">شناسهٔ شعر: </span>
            </td>
            <td>
                <input asp-for="PoemMusicTrackViewModel.PoemId" />
            </td>
        </tr>

        <tr>
            <td>
                <span class="inputlabel">خواننده: </span>
            </td>
            <td>
                <input style="width:100%" asp-for="PoemMusicTrackViewModel.ArtistName" /><br />
            </td>
        </tr>
        <tr>
            <td>
                <span class="inputlabel">نشانی خواننده:</span>
            </td>
            <td>
                <input style="width:100%;text-align:left;direction:ltr;" asp-for="PoemMusicTrackViewModel.ArtistUrl" />
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
                <span class="inputlabel">آلبوم:</span>
            </td>
            <td>
                <input style="width:100%" asp-for="PoemMusicTrackViewModel.AlbumName" /><br />
            </td>
        </tr>
        <tr>
            <td>
                <span class="inputlabel">نشانی آلبوم:</span>
            </td>
            <td>
                <input style="width:100%;text-align:left;direction:ltr;" asp-for="PoemMusicTrackViewModel.AlbumUrl" />
            </td>
        </tr>
        <tr>
            <td>
                <span class="inputlabel">آهنگ:</span>
            </td>
            <td>
                <input style="width:100%" asp-for="PoemMusicTrackViewModel.TrackName" />
            </td>
        </tr>
        <tr>
            <td>
                <span class="inputlabel">نشانی آهنگ:</span>
            </td>
            <td>
                <input style="width:100%;text-align:left;direction:ltr;" asp-for="PoemMusicTrackViewModel.TrackUrl" />
            </td>
        </tr>
        <tr>
            <td>
                <span class="inputlabel">توضیح: </span>
            </td>
            <td>
                <input style="width:100%" asp-for="PoemMusicTrackViewModel.Description" /><br />
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <button type="submit" name="approve" id="approve" style="width:100%;color:white;background-color:green">تأیید</button>
            </td>

        </tr>

    </table>

</form>