@page
@model GanjooRazor.Areas.User.Pages.CatEditorModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_UserPanelLayout";
    ViewData["Title"] = "ویرایشگر زندگینامهٔ شاعر / توصیف بخش";
    await GanjooRazor.Utils.GanjoorSessionChecker.ApplyPermissionsToViewData(Request, Response, ViewData);
}
<h1>@ViewData["Title"]</h1>

<form method="post">
    <table style="width:100%" class="noborder">
        <tr>
            <td>
                <span class="inputlabel">متن: </span>
            </td>
            <td>
                <input asp-for="Correction.CatId" type="hidden" />
                <textarea asp-for="Correction.DescriptionHtml" rows="30" class="editor width-100per"></textarea>
            </td>
        </tr>
        <tr>
            <td>
                <span class="inputlabel">توضیح این ویرایش: </span>
            </td>
            <td>
                <input asp-for="Correction.Note" />

            </td>
        </tr>
        <tr>
            <td colspan="2">
                <button type="submit" name="approve" id="approve" style="width:100%;color:white;background-color:green">ذخیره</button>
            </td>
        </tr>
    </table>
</form>
