@page
@model GanjooRazor.Areas.User.Pages.FAQItemsModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_UserPanelLayout";
    ViewData["Title"] = "پرسش‌های متداول";
    await GanjooRazor.Utils.GanjoorSessionChecker.ApplyPermissionsToViewData(Request, Response, ViewData);
}

@if (!string.IsNullOrEmpty(Model.LastMessage))
{
    <p>
        @Model.LastMessage
    </p>
}
else
{
    <script>
        function editCategory(){
            location.href = '/User/FAQCatEdit?id=' + String(document.getElementById('cat').value);
        }
        function deleteCategory() {

            var sel = document.getElementById('cat');
            var text= sel.options[sel.selectedIndex].text;

            if (!confirm('آیا از حذف '+text+' اطمینان دارید؟'))
                return;

            $.ajax({
                type: "DELETE",
                url: '',
                data: {
                    id: sel.value
                },
                error: function (e) {
                    if (e.responseText == null)
                        alert(e);
                    else
                        alert(e.responseText);
                },
                success: function () {
                     location.reload();
                },
            });

        }

        function onSelectedCatChanged(){
            var sel = document.getElementById('cat');
            if(sel.selectedIndex >= 0){
                document.getElementById('catItems').innerHTML = 'در حال بارگذاری ...';
                $.ajax({
                type: "GET",
                url: '?Handler=CategoryItems',
                data: {
                    id: sel.value
                },
                error: function (e) {
                    document.getElementById('catItems').innerHTML = '';
                    if (e.responseText == null)
                        alert(e);
                    else
                        alert(e.responseText);
                },
                success: function (items) {
                     var s = '';
                     for(var i=0; i<items.length; i++){
                         s += ('<p><a href="/FAQItemEdit?id='+String(items[i].id)+'">' + '<p>' + items[i].question + '</a></p>');
                     }
                     document.getElementById('catItems').innerHTML = s;
                },
            });
            }
        }
    </script>
    <table>
        <tr>
            <td>دسته‌بندی پرسش‌ها:</td>
            <td>
                <select name="cat" id="cat" onchange="onSelectedCatChanged()">
                    @foreach (var category in Model.Categories)
                    {
                        <option value="@category.Id">@category.Title</option>
                    }
                </select>
                <a role="button" onclick="editCategory()" class="actionlink" title="ویرایش"><i class="noindent-info-button edit-poem-button"></i></a>
                <a role="button" onclick="deleteCategory()" class="actionlink" title="حذف"><i class="noindent-info-button delete-icon"></i></a>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <a role="button" href="/User/FAQCatEdit" class="pagebutton" title="جدید">دستهٔ جدید</a>
            </td>
        </tr>
    </table>

    <h2>پرسش‌های دستهٔ جاری</h2>
    <div id="catItems">
    </div>

}
