@page
@model GanjooRazor.Areas.User.Pages.FAQItemsModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_UserPanelLayout";
    ViewData["Title"] = "پرسش‌های متداول";
    await GanjooRazor.Utils.GanjoorSessionChecker.ApplyPermissionsToViewData(Request, Response, ViewData);
}

@if (!string.IsNullOrEmpty(Model.LastMessage))
{
    <p>
        @Model.LastMessage
    </p>
}
else
{
    <script>
        function editCategory(){
            location.href = '/User/FAQCatEdit?id=' + String(document.getElementById('cat').value);
        }
    </script>
    <table>
        <tr>
            <td>دسته‌بندی پرسش‌ها:</td>
            <td>
                <select name="cat" id="cat">
                    @foreach (var category in Model.Categories)
                    {
                        <option value="@category.Id">@category.Title</option>
                    }
                </select>
                <a role="button" onclick="editCategory()" class="actionlink" title="ویرایش"><i class="noindent-info-button edit-poem-button"></i></a>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <a role="button" href="/User/FAQCatEdit" class="pagebutton" title="جدید">دستهٔ جدید</a>
            </td>
        </tr>
    </table>

}
