@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Ганҷур</h1>
    @foreach(var poet in Model.Poets)
    {
        <p><a href="@poet.FullUrl">@poet.Nickname</a></p>
    }
</div>
