@model GanjooRazor.Pages._BNumPartialModel
@{
    Layout = null;
}
<div id="comments-block-@Model.CoupletIndex">
    @foreach (var comment in Model.Comments)
    {
        <partial name="_CommentPartial" model=Model.GetCommentModel(comment) />
    }
</div>
@if (Model.LoggedIn)
{
    <script>
        tinymce.init({
            selector: 'textarea.editorbnum',
            language: 'fa_IR',
            menubar: false,
            plugins: 'link paste',
            toolbar: 'undo redo | alignleft aligncenter alignright alignjustify | outdent indent | link',
            paste_auto_cleanup_on_paste: true,
            paste_remove_styles: true,
            paste_remove_styles_if_webkit: true,
            paste_strip_class_attributes: true,
        });
    </script>
    <form method="post" id="commentform-@Model.CoupletIndex" action="?handler=Comment">
        <fieldset>
            <legend>💬 دربارهٔ این پاراگراف/بیت/مصرع حاشیه بگذارید ...</legend>
            <table style="max-width:100%; width:100%; margin:0">
                <tr>
                    <td>
                        <div class="required">
                            <textarea name="comment" class="inputTextarea editorbnum" tabindex="4" rows="10" style="width:100%"></textarea>
                        </div>
                        <input type="hidden" name="poemId" value="@Model.PoemId" />
                        <input type="hidden" name="coupletIndex" value="@Model.CoupletIndex" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <button name="postcomment" class="inputSubmit" onclick="return postComment(document.getElementById('comments-block-@Model.CoupletIndex'), '#commentform-@Model.CoupletIndex', '#comment-error-@Model.CoupletIndex');" style="width:100%">درج حاشیه</button>
                    </td>
                </tr>
            </table>
        </fieldset>

    </form>

    <div class="item" id="comment-error-@Model.CoupletIndex">
    </div>
}
else
{
    <div class="notice">
        <p>
            برای حاشیه‌گذاری باید در گنجور <a href="/signup" target="_blank">ثبت نام</a> کنید و با نام کاربری خود از طریق آیکون 👤 گوشهٔ پایین سمت چپ صفحات به آن وارد شوید.
        </p>
    </div>
}

