@model GanjooRazor.Pages._FooterPartialModel

<div id="footer">
    <div class="footer-contents">
        <ul class="link-list-internals">
            <li><a href="/">خانه</a></li>
            <li><a href="/random">بیت تصادفی</a></li>
            <li><a href="https://faal.ganjoor.net">فال حافظ</a></li>
            <li><a href="/mundex">نمایهٔ موسیقی</a></li>
            <li><a href="/hashieha">حاشیه‌ها</a></li>
            <li><a href="/simi">مشابه‌یابی</a></li>
            <li><a href="https://blog.ganjoor.net">تازه‌های گنجور</a></li>
        </ul>
        <ul class="link-list-tools">
            <li><a href="https://c.ganjoor.net">کدهای گنجور</a></li>
            <li><a href="https://dg.ganjoor.net">گنجور رومیزی</a></li>
            <li><a href="http://pozh.org/saaghar">ساغر</a></li>
            <li><a href="http://epub.ganjoor.net">کتابخانهٔ گنجور</a></li>
            <li><a href="https://museum.ganjoor.net">گنجینهٔ گنجور</a></li>
            <li><a href="https://abjad.ganjoor.net">محاسبه‌گر ابجد</a></li>
            <li><a href="https://ava.ganjoor.net">آوای گنجور</a></li>
        </ul>
        <ul class="link-list-about">
            <li><a href="/about">معرفی</a></li>
            <li><a href="/vazn">آمار</a></li>
            <li><a href="/sources">منابع</a></li>
            <li><a href="/photos">چهره‌ها</a></li>
            <li><a href="/faq">پرسش‌های متداول</a></li>
            <li><a href="/donate">کمک</a></li>
            <li><a href="/contact">تماس</a></li>
            <li><a href="/privacy">حریم خصوصی</a></li>
        </ul>
    </div>
</div>

@if (Model.StickyEnabled)
{
    <script>
        // When the user scrolls the page, execute stickyFunction
        window.onscroll = function() { stickyFunction() };

        // Get the navbar
        var navbar = document.getElementById("main-navbar");

        // Get the offset position of the navbar
        var sticky = navbar.offsetTop;

        if (sticky != null) {
            var btnSticky = document.getElementById("pin_button");
            if (stickyEnabled) {
                btnSticky.classList.remove("color-gray");
                btnSticky.classList.add("color-white");
            }
            else {
                btnSticky.classList.remove("color-white");;
                btnSticky.classList.add("color-gray")
            }
        }


        // Add the sticky class to the navbar when you reach its scroll position. Remove "sticky" when you leave the scroll position
        function stickyFunction() {
            if (stickyEnabled && window.pageYOffset >= sticky) {
                navbar.classList.add("sticky");
            } else {
                navbar.classList.remove("sticky");
            }
        }

        function switchSticky() {
            stickyEnabled = !stickyEnabled;
            setCookie("stickyEnabled", stickyEnabled ? "true" : "false", 365);
            var btnSticky = document.getElementById("pin_button");
            if (stickyEnabled) {
                btnSticky.classList.remove("color-gray");
                btnSticky.classList.add("color-white");
            }
            else {
                btnSticky.classList.remove("color-white");;
                btnSticky.classList.add("color-gray")
            }
            stickyFunction();
        }
    </script>
}
