@model GanjooRazor.Pages._FooterPartialModel

<div id="footer">
    <div class="footer-contents">
        <ul class="link-list-internals">
            <li>
                <a href="/">
                    <svg class="footer-icon" height="10px" viewBox="0 0 24 24" width="10px" fill="#5f6368"><path d="M0 0h24v24H0z" fill="none" /><path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z" /></svg> خانه
                </a>
            </li>
            <li>
                <a href="/random">
                    <svg class="footer-icon" height="10px" viewBox="0 0 24 24" width="10px" fill="#5f6368"><path d="M0 0h24v24H0zm21.02 19c0 1.1-.9 2-2 2h-14c-1.1 0-2-.9-2-2V5c0-1.1.9-2 2-2h14c1.1 0 2 .9 2 2v14z" fill="none" /><path d="M19 3H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zM7.5 18c-.83 0-1.5-.67-1.5-1.5S6.67 15 7.5 15s1.5.67 1.5 1.5S8.33 18 7.5 18zm0-9C6.67 9 6 8.33 6 7.5S6.67 6 7.5 6 9 6.67 9 7.5 8.33 9 7.5 9zm4.5 4.5c-.83 0-1.5-.67-1.5-1.5s.67-1.5 1.5-1.5 1.5.67 1.5 1.5-.67 1.5-1.5 1.5zm4.5 4.5c-.83 0-1.5-.67-1.5-1.5s.67-1.5 1.5-1.5 1.5.67 1.5 1.5-.67 1.5-1.5 1.5zm0-9c-.83 0-1.5-.67-1.5-1.5S15.67 6 16.5 6s1.5.67 1.5 1.5S17.33 9 16.5 9z" /></svg> بیت تصادفی
                </a>
            </li>
            <li>
                <a href="https://jadval.ganjoor.net">
                    <svg class="footer-icon" height="10px" viewBox="0 -960 960 960" width="10px" fill="#5f6368"><path d="M400-160h160v-160H400v160ZM160-400h160v-160H160v160Zm240 0h160v-160H400v160Zm240 0h160v-160H640v160Zm0-240h160v-160H640v160ZM320-80v-240H80v-320h480v-240h320v560H640v240H320Z" /></svg> جدول شعر
                </a>
            </li>
            <li>
                <a href="https://faal.ganjoor.net">
                    <svg class="footer-icon" height="10px" viewBox="0 -960 960 960" width="10px" fill="#5f6368"><path d="M400-240 334-80l-74-30 58-141q-106-28-172-114T80-560v-160q0-66 47-113t113-47q22 0 42 7.5t40 15.5l238 97-160 60v60l314 200H400q-33 0-56.5-23.5T320-520h-80q0 66 47 113t113 47h440l40 200h-80l-40-80H560v160h-80v-160h-80ZM240-760q-17 0-28.5 11.5T200-720q0 17 11.5 28.5T240-680q17 0 28.5-11.5T280-720q0-17-11.5-28.5T240-760Z" /></svg> فال حافظ
                </a>
            </li>
            <li>
                <a href="/mundex">
                    <svg class="footer-icon" height="10px" viewBox="0 -960 960 960" width="10px" fill="#5f6368"><path d="M400-120q-66 0-113-47t-47-113q0-66 47-113t113-47q23 0 42.5 5.5T480-418v-422h240v160H560v400q0 66-47 113t-113 47Z" /></svg> نمایهٔ موسیقی
                </a>
            </li>
            <li><a href="/hashieha"><i class="notranslate material-icons">forum</i> حاشیه‌ها</a></li>
            <li><a href="/simi"><i class="notranslate material-icons">plagiarism</i> مشابه‌یابی</a></li>
            <li><a href="https://blog.ganjoor.net"><i class="notranslate material-icons">newspaper</i> تازه‌های گنجور</a></li>
        </ul>
        <ul class="link-list-tools">
            <li><a href="https://c.ganjoor.net"><i class="notranslate material-icons">code</i> کدهای گنجور</a></li>
            <li><a href="https://dg.ganjoor.net"><i class="notranslate material-icons">computer</i> گنجور رومیزی</a></li>
            <li><a href="http://pozh.org/saaghar"><i class="notranslate material-icons">laptop_mac</i> ساغر</a></li>
            <li><a href="https://epub.ganjoor.net"><i class="notranslate material-icons">menu_book</i> کتابخانهٔ گنجور</a></li>
            <li><a href="https://museum.ganjoor.net"><i class="notranslate material-icons">filter_vintage</i> گنجینهٔ گنجور</a></li>
            <li><a href="https://abjad.ganjoor.net"><i class="notranslate material-icons">calculate</i> محاسبه‌گر ابجد</a></li>
            <li><a href="https://ava.ganjoor.net"><i class="notranslate material-icons">hearing</i> آوای گنجور</a></li>
            <li><a href="https://gaudiopanel.ganjoor.net"><i class="notranslate material-icons">mic_none</i> پیشخان خوانشگران</a></li>
            <li><a href="https://blog.ganjoor.net/1402/12/03/pishkhan-the-spelling/"><i class="notranslate material-icons">help_outline</i> پیشخان یا پیشخوان؟</a></li>
            <li><a href="https://naskban.ir"><i class="notranslate material-icons">auto_stories</i> نسکبان</a></li>
        </ul>
        <ul class="link-list-about">
            <li><a href="/about"><i class="notranslate material-icons">hail</i> معرفی</a></li>
            <li><a href="/vazn"><i class="notranslate material-icons">query_stats</i> آمار</a></li>
            <li><a href="/sources"><i class="notranslate material-icons">local_library</i> منابع</a></li>
            <li><a href="/photos"><i class="notranslate material-icons">face_5</i> چهره‌ها</a></li>
            <li><a href="/faq"><i class="notranslate material-icons">help</i> پرسش‌های متداول</a></li>
            <li><a href="/donate"><i class="notranslate material-icons">volunteer_activism</i> کمک</a></li>
            <li><a href="/contact"><i class="notranslate material-icons">mail</i> تماس</a></li>
            <li><a href="/privacy"><i class="notranslate material-icons">privacy_tip</i> حریم خصوصی</a></li>
        </ul>
    </div>
</div>

<a href="javascript:toggleColorScheme();">
    <span id="icon-sun"><svg height="24px" viewBox="0 -960 960 960" width="24px" fill="burlywood"><path d="M440-760v-160h80v160h-80Zm266 110-55-55 112-115 56 57-113 113Zm54 210v-80h160v80H760ZM440-40v-160h80v160h-80ZM254-652 140-763l57-56 113 113-56 54Zm508 512L651-255l54-54 114 110-57 59ZM40-440v-80h160v80H40Zm157 300-56-57 112-112 29 27 29 28-114 114Zm283-100q-100 0-170-70t-70-170q0-100 70-170t170-70q100 0 170 70t70 170q0 100-70 170t-170 70Z" /></svg></span>
    <span id="icon-moon"><svg height="24px" viewBox="0 -960 960 960" width="24px" fill="#cc4444"><path d="M480-120q-150 0-255-105T120-480q0-150 105-255t255-105q14 0 27.5 1t26.5 3q-41 29-65.5 75.5T444-660q0 90 63 153t153 63q55 0 101-24.5t75-65.5q2 13 3 26.5t1 27.5q0 150-105 255T480-120Z" /></svg></span>
</a>

<script>
    applyPreferredColorScheme(getPreferredColorScheme());
</script>

@if (Model.StickyEnabled)
{
    <script>
        // When the user scrolls the page, execute stickyFunction
        window.onscroll = function () { stickyFunction() };

        // Get the navbar
        var navbar = document.getElementById("main-navbar");

        // Get the offset position of the navbar
        var sticky = navbar.offsetTop;

        if (sticky != null) {
            var btnSticky = document.getElementById("pin_button");
            if (stickyEnabled) {
                btnSticky.classList.remove("color-disabled");
                btnSticky.classList.add("color-white");
            }
            else {
                btnSticky.classList.remove("color-white");;
                btnSticky.classList.add("color-disabled")
            }
        }


        // Add the sticky class to the navbar when you reach its scroll position. Remove "sticky" when you leave the scroll position
        function stickyFunction() {
            if (stickyEnabled && window.pageYOffset >= sticky) {
                navbar.classList.add("sticky");
            } else {
                navbar.classList.remove("sticky");
            }
        }

        function switchSticky() {
            stickyEnabled = !stickyEnabled;
            setCookie("stickyEnabled", stickyEnabled ? "true" : "false", 365);
            var btnSticky = document.getElementById("pin_button");
            if (stickyEnabled) {
                btnSticky.classList.remove("color-disabled");
                btnSticky.classList.add("color-white");
            }
            else {
                btnSticky.classList.remove("color-white");;
                btnSticky.classList.add("color-disabled")
            }
            stickyFunction();
        }
    </script>
}

@if (Model.GanjoorPage != null && Model.GanjoorPage.Poem != null)
{
    <script>
        var btnLineNumbers = document.getElementById("bnum-button");
        if (lineNumbers) {
            btnLineNumbers.classList.remove("color-disabled");
            btnLineNumbers.classList.add("color-white");
        }
        else {
            btnLineNumbers.classList.remove("color-white");;
            btnLineNumbers.classList.add("color-disabled")
        }

        if (playerScrollLock) {
            const lockButtons = document.querySelectorAll('.recitation-scrollunlock');
            lockButtons.forEach(function (lockButton) {
                lockButton.classList.toggle('recitation-scrollunlock');
                lockButton.classList.toggle('recitation-scrolllock');
            });
        }
        else {
            const lockButtons = document.querySelectorAll('.recitation-scrolllock');
            lockButtons.forEach(function (lockButtons) {
                lockButtons.classList.toggle('recitation-scrollunlock');
                lockButtons.classList.toggle('recitation-scrolllock');
            });
        }
    </script>
}
