@model GanjooRazor.Pages._FooterPartialModel

<div id="footer">
    <ul>
        <li><a href="/">خانه</a> | </li>
        <li><a href="/random/">بیت تصادفی</a> | </li>
        <li><a href="/mundex/">نمایهٔ موسیقی</a> | </li>
        <li><a href="http://blog.ganjoor.net/">تازه‌ها</a> | </li>
        <li><a href="/hashieha/">حاشیه‌ها</a> | </li>
        <li><a href="http://c.ganjoor.net">کدها</a> | </li>
        <li><a href="http://dg.ganjoor.net">رومیزی</a> | </li>
        <li><a href="http://pozh.org/saaghar/">ساغر</a> | </li>
        <li><a href="http://epub.ganjoor.net">کتابخانه</a> | </li>
        <li><a href="https://museum.ganjoor.net">گنجینه</a> | </li>
        <li><a href="/vazn/">آمار</a> | </li>
        <li><a href="/about/">معرفی</a> | </li>
        <li><a href="/sources/">منابع</a> | </li>
        <li><a href="/donate/">کمک</a> | </li>
        <li><a href="/contact/">تماس</a></li>
    </ul>
</div>
