@model GanjooRazor.Pages._GroupedByDateViewPartialModel
@{
}
@if (Model.Summary != null)
{
    @if (Model.DataType == "users")
    {
        <div class="stats-section-no-grid">
            <div class="stat-item">
                <div class="stat-value" id="totalCorrections">@RMuseum.Services.Implementation.LanguageUtils.FormatMoney(Model.Summary.TotalCount)</div>
                <div class="stat-label">
                    تعداد کل
                </div>
            </div>
        </div>

    }
    else
    {
        <div class="stats-section">
            <div class="stat-item">
                <div class="stat-value" id="totalDays">@RMuseum.Services.Implementation.LanguageUtils.FormatMoney(Model.Summary.Days)</div>
                <div class="stat-label">روز مشارکت</div>
            </div>
            <div class="stat-item">
                <div class="stat-value" id="totalCorrections">@RMuseum.Services.Implementation.LanguageUtils.FormatMoney(Model.Summary.TotalCount)</div>
                <div class="stat-label">
                    تعداد کل مشارکت‌ها
                </div>
            </div>
            <div class="stat-item">
                <div class="stat-value" id="totalUsers">@RMuseum.Services.Implementation.LanguageUtils.FormatMoney(Model.Summary.UserIds)</div>
                <div class="stat-label">کاربران مشارکت کننده</div>
            </div>
        </div>

    }
}

<partial name="_GroupedByDateViewTablePartial" model="Model.TableModel">
