@model GanjooRazor.Pages.IndexModel

@if (Model.LoggedIn)
{
    <div class="fab">
        <span class="fab-action-button">
            <i class="fab-action-button-loggedin__icon"></i>
        </span>
        <ul class="fab-buttons">
            @if (Model.CanEdit && Model.GanjoorPage != null)
            {
                <li class="fab-buttons__item">
                    <a asp-page="ModifyPage" asp-area="Admin" asp-route-id="@Model.GanjoorPage.Id" class="fab-buttons__link" data-tooltip="ویرایش">
                        <i class="icon-material icon-material_edit"></i>
                    </a>
                </li>
            }
            <li class="fab-buttons__item">
                <a asp-page="Index" asp-area="User" class="fab-buttons__link" data-tooltip="پیشخان">
                    <i class="icon-material icon-material_panel"></i>
                </a>
            </li>
            <li class="fab-buttons__item">
                <form method="post" id="logoutform" action="?handler=Logout">
                </form>
                <a href="javascript:document.getElementById('logoutform').submit();" class="fab-buttons__link" data-tooltip="خروج">
                    <i class="icon-material icon-material_exit"></i>
                </a>
            </li>
        </ul>
    </div>
}
else
{
    <div class="fab">
        <span class="fab-action-button">
            <a role="button" class="actionlink" onclick="document.getElementById('id01').style.display='block'" data-tooltip="ورود کاربر" title="ورود کاربر">
                <i class="fab-action-button__icon"></i>
            </a>
        </span>
    </div>

    <!-- The Modal -->
    <div id="id01" class="modal">
        <span onclick="document.getElementById('id01').style.display='none'"
              class="close" title="بستن">&times;</span>

        <!-- Modal Content -->
        <form class="modal-content animate" method="post" action="?handler=Login">
            <div class="imgcontainer">
                <img src="/image/login.png" alt="گنجور" class="avatar">
            </div>
            <table style="width:100%">
                <tr>
                    <td colspan="2">
                        <h2>
                            ورود به گنجور
                        </h2>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="inputlabel">پست الکترونیکی: </span>
                    </td>
                    <td>
                        <input type="email" style="text-align:left;direction:ltr;width:100%" placeholder="پست الکترونیکی" asp-for="LoginViewModel.Username" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="inputlabel">گذرواژه: </span>
                    </td>
                    <td>
                        <input type="password" id="password" style="text-align:left;direction:ltr;width:100%" placeholder="گذرواژه" asp-for="LoginViewModel.Password" />
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" name="submit" style="width:100%;cursor:pointer" id="submit" value="ورود" /></td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <table style="width:100%; margin:0">
                            <tr>
                                <td>
                                    <input type="button" onclick="location.href='https://museum.ganjoor.net/signup'" class="cancelbtn" style="width:100%;text-align:center;cursor:pointer" value="ثبت نام" />
                                </td>
                                <td>
                                    <input type="button" onclick="document.getElementById('id01').style.display='none'" style="width: 100%; text-align: center; cursor: pointer" value="انصراف" />
                                </td>
                            </tr>
                        </table>


                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <p>
                            اگر پیشتر در <a href="https://museum.ganjoor.net">گنجینه</a> یا <a href="https://museum.ganjoor.net">پیشخان خوانشگران</a> گنجور ثبت نام کرده‌اید می‌توانید با همان اطلاعات کاربری به گنجور وارد شوید.
                        </p>
                    </td>
                </tr>

            </table>
           
        </form>

      

    </div>
}
