@model GanjooRazor.Pages.LoginPartialEnabledPageModel

<div id="main-navbar" role="navigation">
    <div class="clear-both">
        <div class="float-right display-inline-flex width-76px">
            <a onclick="switchSticky()" role="button" class="w3tooltip cursor-pointer float-right">
                <div class="noborder-btn color-white" id="pin_button">
                    <i class="noindent-info-button pin-button"></i>
                </div>
                <span class="w3tooltiptext">چسبانی</span>
            </a>
        </div>

        @if (Model.LoggedIn)
        {
            <a href="/User" role="button" class="w3tooltip cursor-pointer">
                <div class="circled-number">
                    <i class="noindent-info-button user-home-icon"></i>
                </div>
                <span class="w3tooltiptext">پیشخان</span>
            </a>
            <a href="/User/MyBookmarks" role="button" class="w3tooltip cursor-pointer">
                <div class="circled-number">
                    <i class="noindent-info-button bookmarking-icon"></i>
                </div>
                <span class="w3tooltiptext">نشان‌شده‌های من</span>
            </a>
            <a href="/User/Notifications" role="button" class="w3tooltip cursor-pointer">
                <div class="circled-number">
                    <i class="noindent-info-button notifications-icon"><span id="notification-badge" class="hidden-recitation"></span></i>
                </div>
                <span class="w3tooltiptext">اعلان‌های من</span>
            </a>
            <a href="/User/History" role="button" class="w3tooltip cursor-pointer">
                <div class="circled-number">
                    <i class="noindent-info-button history-icon"></i>
                </div>
                <span class="w3tooltiptext">ادامهٔ مطالعه</span>
            </a>

            <a href="javascript:document.getElementById('logoutform').submit();" role="button" class="w3tooltip cursor-pointer">
                <div class="circled-number">
                    <i class="noindent-info-button logout-icon"></i>
                </div>
                <span class="w3tooltiptext">خروج</span>
            </a>
        }
        else
        {
            <a onclick="document.getElementById('id01').style.display='block'" role="button" class="w3tooltip cursor-pointer pagebutton" style="display:inline-table;border: 3px solid black">
                ورود کاربر / نام‌نویسی <i class="noindent-info-button account-icon"></i>
            </a>
        }

        <div class="float-left display-inline-flex width-76px">

            <a href="#footer" role="button" class="w3tooltip cursor-pointer">
                <div class="noborder-btn">
                    <i class="noindent-info-button down-btn"></i>
                </div>
                <span class="w3tooltiptext">پایین صفحه</span>
            </a>

            <a href="#" role="button" class="w3tooltip cursor-pointer">
                <div class="noborder-btn">
                    <i class="noindent-info-button up-btn"></i>
                </div>
                <span class="w3tooltiptext">بالای صفحه</span>
            </a>

        </div>

    </div>

</div>

@if (Model.LoggedIn)
{
    <form method="post" id="logoutform" action="?handler=Logout">
    </form>
    <script>
        CheckIfHasNotificationsForHomePage();
    </script>
}
else
{
    <!-- The Modal -->
    <div id="id01" class="modal">
        <span onclick="document.getElementById('id01').style.display='none'"
          class="close" title="بستن">&times;</span>

        <!-- Modal Content -->
        <form class="modal-content animate" method="post" action="?handler=Login">
            <div class="imgcontainer">
                <img src="/image/login.png" alt="گنجور" class="avatar">
            </div>
            <table style="width:100%">
                <tr>
                    <td colspan="2">
                        <h2>
                            ورود به گنجور
                        </h2>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="inputlabel">پست الکترونیکی: </span>
                    </td>
                    <td>
                        <input type="email" style="text-align:left;direction:ltr;width:100%" placeholder="پست الکترونیکی" asp-for="LoginViewModel.Username" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="inputlabel">گذرواژه: </span>
                    </td>
                    <td>
                        <input type="password" id="password" style="text-align:left;direction:ltr;width:100%" placeholder="گذرواژه" asp-for="LoginViewModel.Password" />
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" name="submit" style="width:100%;cursor:pointer" id="submit" value="ورود" /></td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <table style="width:100%; margin:0">
                            <tr>
                                <td>
                                    <input type="button" onclick="location.href='/signup'" class="cancelbtn" style="width:100%;text-align:center;cursor:pointer" value="نام‌نویسی" />
                                </td>
                                <td>
                                    <input type="button" onclick="location.href='/resetpassword'" class="cancelbtn" style="width:100%;text-align:center;cursor:pointer" value="فراموشی گذرواژه" />
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <input type="button" onclick="document.getElementById('id01').style.display='none'" style="width: 100%; text-align: center; cursor: pointer" value="انصراف" />
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <p>
                            اگر پیشتر در <a href="https://museum.ganjoor.net" target="_blank">گنجینه</a> یا <a href="https://gaudiopanel.ganjoor.net" target="_blank">پیشخان خوانشگران</a> گنجور نام‌نویسی کرده‌اید می‌توانید با همان اطلاعات کاربری به گنجور وارد شوید.
                        </p>
                    </td>
                </tr>

            </table>

        </form>

    </div>
}
