@model GanjooRazor.Pages._PoetSpecLinePartialModel
@{
    Layout = null;
}

<div class="ganjoor-comment" id="@(Model.Line.Id == 0 ? "comment-error" : $"line-{Model.Line.Id}")">
    @Html.Raw(Model.Line.Contents)
</div>

@if (Model.Line.Id != 0 && !Model.Line.Published)
{
    <div class="clear-both red-color">
        پیشنهاد شما پس از بررسی قابل مشاهده خواهد بود.
    </div>
}

@if (Model.ModeratePoetPhotos)
{
    <div class="clear-both">
        <a role="button" href="/User/SuggestedPoetSpecLines?id=@Model.Line.Id" class="pagebutton" title="ویرایش"><i class="noindent-info-button edit-poem-button"></i></a>
        <a role="button" onclick="deleteSpec(@Model.Line.Id)" class="pagebutton" title="حذف"><i class="noindent-info-button delete-icon"></i></a>
    </div>
}
