@page
@model IndexModel
@{
    Layout = "_Layout";
}

@section Head {
    <meta name="description" content="جستجو در شعر فارسی">
}

@if (Model.OfflineMode)
{
    <div class="notice">
        <p>
            از آنجا که شما با شبکهٔ داخلی اطلاعات ایران وصل شده‌اید در حال مشاهدهٔ یک نسخهٔ آفلاین از گنجور هستید.
        </p>
        <p>
            این یک نسخهٔ آفلاین با اطلاعات قدیمی از سایت گنجور است که برای ایرانیان داخل کشور که اینترنتشان قطع است در دسترس قرار گرفته است.
        </p>
        <p>
            بعضی امکاناتِ نیازمند اینترنت حذف شده و برخی قابلیتها نیز ممکن است به درستی کار نکند.
        </p>
        <p>
            امکانات نام‌نویسی و درج حاشیه نیز در آن غیرفعال است. اگر می‌توانید جایی اطلاعاتی وارد کنید انتظار ذخیرهٔ آن را به طور دائم نداشته باشید.
        </p>
        <p>
            نسخهٔ به‌روز گنجور روی اینترنت تا پایان قطعی اینترنت در ایران برای آی.پی‌های خارج از ایران در دسترس است.
        </p>
    </div>
}
else if (Model.ReadOnlyMode)
{
    <div class="notice">
        <p>
            گنجور در حال حاضر در وضعیت فقط‌خواندنی است.
        </p>
        <p>
            امکانات نام‌نویسی و درج حاشیه نیز در آن غیرفعال است. اگر می‌توانید جایی اطلاعاتی وارد کنید انتظار ذخیرهٔ آن را به طور دائم نداشته باشید.
        </p>
    </div>
}
<script src="/js/vaabd.js?version=10"></script>

@if (!string.IsNullOrEmpty(Model.LastError))
{
    <div class="poem">
        @Model.LastError
    </div>
}
else
{
    <partial name="_HomePagePartial" model="Model" />
}

@if (ViewData["TrackingScript"] != null && !string.IsNullOrEmpty(ViewData["TrackingScript"].ToString()))
{
    @Html.Raw(ViewData["TrackingScript"])
}
