@page
@model GanjooRazor.Areas.Admin.Pages.CatDelModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "حذف بخش";
}

<h1>@ViewData["Title"]</h1>

@if (!string.IsNullOrEmpty(Model.LastResult))
{
    <p>
        @Model.LastResult
    </p>
    <p>
        <a role="button" href="/" class="actionlink">برگشت</a>
    </p>
}
else
{
    <table>
        <tr>
            <td colspan="2">
                آیا از حذف @Model.Cat.Cat.Title اطمینان دارید؟
            </td>
        </tr>
        <tr>
            <td>
                <form method="post" action="/Admin/CatDel?id=@Model.Cat.Cat.Id">
                    <input type="submit" value="بله" />
                </form>
            </td>
            <td>
                <a role="button" href="/Admin" class="actionlink">خیر / برگشت</a>
            </td>
        </tr>
    </table>
}

