@page
@model GanjooRazor.Areas.Admin.Pages.DonationEditModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "ویرایش کمک مالی";
}

<h1>@ViewData["Title"]</h1>

<form method="post">

    <table>
        <tr>
            <td>تاریخ:</td>
            <td><input type="date" asp-for="Donation.Date" /> </td>
        </tr>
        <tr>
            <td>اهدا کننده:</td>
            <td><input size="50" asp-for="Donation.Description" /> </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="ویرایش" />
            </td>
        </tr>
    </table>

</form>

