@page
@model GanjooRazor.Areas.Admin.Pages.ExamineUserModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "اخراج یا غیرفعالسازی کاربر بدرفتار";
}
<h1>@ViewData["Title"]</h1>
