@page
@model GanjooRazor.Areas.Admin.Pages.KickoutUserModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "حذف کاربر";
}

@if (!string.IsNullOrEmpty(Model.LastResult))
{
    <p>
        @Model.LastResult
    </p>
    <p>
        <a role="button" href="/Admin/ExamineUser?id=@Model.UserInfo.Id" class="actionlink">برگشت</a>
    </p>
}
else
{
    <table>
        <tr>
            <td colspan="2">
                آیا از حذف @Model.UserInfo.Email اطمینان دارید؟
            </td>
        </tr>
        <tr>
            <td>
                <form method="post">
                    <input type="hidden" asp-for="UserCauseViewModel.UserId" />
                    <table>
                        <tr>
                            <td>
                                <p>کاربر گرامی، متأسفیم که به اطلاع برسانیم که به دلیل نقض قوانین استفاده از گنجور و به طور مشخص </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input asp-for="UserCauseViewModel.Cause" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>حساب کاربری شما به همراه حاشیه‌ها، خوانش‌ها و سایر اطلاعات خصوصیتان از گنجور حذف شده است. امیدواریم در آینده در صورت تمایل به استفاده از گنجور در چارچوب‌های قابل پذیرش برای ما با حساب کاربری جدیدی پذیرای شما باشیم. با این ایمیل امکان ثبت نام مجدد نخواهید داشت.</p>
                            </td>
                        </tr>
                    </table>
                    <input type="submit" value="بله" />
                </form>
            </td>
            <td>
                <a role="button" href="/Admin/ExamineUser?id=@Model.UserInfo.Id" class="actionlink">خیر / برگشت</a>
            </td>
        </tr>
    </table>
}