@page
@model GanjooRazor.Areas.Admin.Pages.KickoutUserModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "حذف کاربر";
}

@if (!string.IsNullOrEmpty(Model.LastResult))
{
    <p>
        @Model.LastResult
    </p>
    <p>
        <a role="button" href="/Admin/ExamineUser?id=@Model.UserInfo.Id" class="actionlink">برگشت</a>
    </p>
}
else
{
    <table>
        <tr>
            <td colspan="2">
                آیا از حذف @Model.UserInfo.Email اطمینان دارید؟
            </td>
        </tr>
        <tr>
            <td>
                <form method="post">
                    <input type="submit" value="بله" />
                </form>
            </td>
            <td>
                <a role="button" href="/Admin/ExamineUser?id=@Model.UserInfo.Id" class="actionlink">خیر / برگشت</a>
            </td>
        </tr>
    </table>
}