@page
@model GanjooRazor.Areas.Admin.Pages.SpotifyLoginModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "ورود به اسپاتیفای";
    await GanjooRazor.Utils.GanjoorSessionChecker.ApplyPermissionsToViewData(Request, Response, ViewData);
}

@if (ViewData.ContainsKey("ganjoor-songrevu"))
{
    <h1>@ViewData["Title"]</h1>

    <p><a href="@Model.SpotifyUrl">ورود</a></p>
}


