@page
@model GanjooRazor.Areas.Admin.Pages.SuggestQuotedModel
@using DNTPersianUtils.Core
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "پیشنهاد مشق شعر";
}

<h1>@ViewData["Title"]</h1>

<p>@Html.Raw(Model.LastMessage)</p>

@if (Model.GanjoorQuotedPoem != null)
{
    <p>
        بیت مرجع:
    </p>
    <select asp-for="GanjoorQuotedPoem.CoupletIndex" style="width:500px;">
        @foreach (var item in Model.Couplets)
        {
            <option value="@item.Item1">@($"{(item.Item1 + 1).ToPersianNumbers()} - {item.Item2}")</option>
        }
    </select>
}