.screen-reader-text {
  /* Reusable, toolbox kind of class */
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.disabled {
  color: #666;
  cursor: default;
}

.show {
  display: inline-block !important;
}


.container {
  margin: 0 auto;
  width: 500px;
}
.container .player {
  height: 60px;
  margin: 0;
  position: relative;
  width: 400px;
  /* Small devices (tablets, 768px and up) */
  /* Medium devices (desktops, 992px and up) */
  /* Large devices (large desktops, 1200px and up) */
  *zoom: 1;
}
@media (min-width: 768px) and (max-width: 991px) {
  .container .player {
    width: 470px;
  }
}
@media (min-width: 992px) and (max-width: 1100px) {
  .container .player {
    width: 470px;
  }
}
@media (min-width: 1200px) {
  .container .player {
    width: 470px;
  }
}
.container .player .large-toggle-btn {
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  float: left;
  font-size: 1.5em;
  height: 50px;
  margin: 0 10px 0 0;
  overflow: hidden;
  padding: 5px 0 0 0;
  position: relative;
  text-align: center;
  vertical-align: bottom;
  width: 54px;
}
.container .player .large-toggle-btn .large-play-btn {
  cursor: pointer;
  display: inline-block;
  position: relative;
  top: -14%;
}

.container .player .large-toggle-btn .large-pause-btn {
  cursor: pointer;
  display: inline-block;
  position: relative;
  top: -13%;
}
.container .player .info-box {
  bottom: 10px;
  left: 65px;
  position: absolute;
  top: 15px;
}
.container .player .info-box .track-info-box {
  float: left;
  font-size: 12px;
  margin: 0 0 6px 0;
  visibility: hidden;
  width: 400px;
  *zoom: 1;
}
.container .player .info-box .track-info-box .track-title-text {
  display: inline-block;
}
.container .player .info-box .track-info-box .audio-time {
  display: inline-block;
  padding: 0 0 0 5px;
  width: 80px;
}
.container .player .info-box .track-info-box:before, .container .player .info-box .track-info-box:after {
  content: " ";
  display: table;
}
.container .player .info-box .track-info-box:after {
  clear: both;
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden;
}
.container .player .progress-box {
  float: left;
  min-width: 270px;
  position: relative;
}
.container .player .progress-box .progress-cell {
  height: 20px;
  position: relative;
}
.container .player .progress-box .progress-cell .progress {
  background: #fff;
  border: 1px solid #d9d9d9;
  height: 16px;
  position: relative;
  width: auto;
}
.container .player .progress-box .progress-cell .progress .progress-buffer {
  background: #337ab7;
  height: 100%;
  width: 0;
}
.container .player .progress-box .progress-cell .progress .progress-indicator {
  background: #fff;
  border: 1px solid #bebebe;
  border-radius: 3px;
  cursor: pointer;
  height: 18px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: -2px;
  width: 30px;
}
.container .player .controls-box {
  bottom: 10px;
  left: 350px;
  position: absolute;
}
.container .player .controls-box .previous-track-btn {
  cursor: pointer;
  display: inline-block;
}
.container .player .controls-box .next-track-btn {
  cursor: pointer;
  display: inline-block;
}
.container .player:before, .container .player:after {
  content: " ";
  display: table;
}
.container .player:after {
  clear: both;
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden;
}
.container .play-list {
  display: block;
  margin: 0 auto 20px auto;
  width: 100%;
}
.container .play-list .play-list-row {
  display: block;
  margin: 10px 0;
  width: 100%;
  *zoom: 1;
}
.container .play-list .play-list-row .track-title .playlist-track {
  color: #000;
  text-decoration: none;
}
.container .play-list .play-list-row .track-title .playlist-track:hover {
  text-decoration: underline;
}
.container .play-list .play-list-row .small-toggle-btn {
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  height: 20px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 20px;
}
.container .play-list .play-list-row .small-toggle-btn .small-play-btn {
  display: inline-block;
}
.container .play-list .play-list-row .small-toggle-btn .small-pause-btn {
  display: inline-block;
}
.container .play-list .play-list-row .track-number {
  display: inline-block;
}
.container .play-list .play-list-row .track-title {
  display: inline-block;
}
.container .play-list .play-list-row .track-title .playlist-track {
  text-decoration: none;
}
.container .play-list .play-list-row .track-title .playlist-track:hover {
  text-decoration: underline;
}
.container .play-list .play-list-row .track-title.active-track {
  font-weight: bold;
}
.container .play-list .play-list-row:before, .container .play-list .play-list-row:after {
  content: " ";
  display: table;
}
.container .play-list .play-list-row:after {
  clear: both;
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden;
}

.container .player .large-toggle-btn .large-play-btn:before {
  content: "play_arrow";
  font: 1.5em/1.75 "Material Icons";
}
.container .player .large-toggle-btn .large-pause-btn:before {
  content: "pause";
  font: 1.5em/1.75 "Material Icons";
}
.container .player .controls-box .previous-track-btn:before {
  content: "skip_previous";
  font: 1em "Material Icons";
}
.container .player .controls-box .next-track-btn:before {
  content: "skip_next";
  font: 1em "Material Icons";
}
.container .play-list .play-list-row .small-toggle-btn .small-play-btn:before {
  content: "play_arrow";
  font: 0.85em "Material Icons";
}
.container .play-list .play-list-row .small-toggle-btn .small-pause-btn:before {
  content: "pause";
  font: 0.85em "Material Icons";
}

.xml-url-path{
    display:none;
}