html {
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Vazirmatn' !important;
    font-size: 1em;
    text-align: center;
    background-color: #fff;
    background-position: center center;
    background-image: url('/image/sky.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#content {
    position: relative;
    margin: auto;
    text-align: left;
    width: 600px;
    height: 100px;
}

.ganjoor-block {
    width: 100%;
    display: block;
    margin: auto;
    text-align: center;
    font-family: 'Vazirmatn' !important;
}

.ganjoor-block-title {
    display: none
}

.ganjoor-poem-block {
    display: block;
    width: 100%;
    margin-bottom: 5px;
    margin-top: 20px;
    color: white;
    font-size: 1.2em;
}

.ganjoor-m1 {
    width: 61%;
    float: right;
    text-align: left;
    display: block;
    margin-top: 10px;
}

.ganjoor-m2 {
    width: 61%;
    float: left;
    text-align: right;
    display: block;
    margin-top: 10px;
}

.ganjoor-footer {
    display: block;
    width: 100%;
    margin-top: -160px;
    background-color: rgba(0, 0, 0, 0.5);
}

.ganjoor-poet {
    font-size: 1em;
    text-align: center;
}

    .ganjoor-poet a {
        text-decoration: none;
        color: yellow
    }

.cursor-pointer{
    cursor: pointer;
}

#footer {
    position: fixed;
    bottom: 0;
    margin: auto;
    height: 80px;
    width: 600px;
    font-size: 0.8em;
    text-align: center;
    color: white;
}

    #footer p {
        background-color: rgba(0, 0, 0, 0.2);
        margin: 0;
        padding: 0
    }

    #footer a {
        text-decoration: none;
        color: orange;
    }

@media(max-width: 768px) {
    #content {
        width: 100%;
    }
    #footer {
        width: 100%;
    }
    .ganjoor-m1 {
        width: 100%;
        text-align: center;
    }

    .ganjoor-m2 {
        width: 100%;
        text-align: center;
    }
}
